{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if request.args.get("message") %}
        <div class="message">{{ request.args.get("message") }}</div>
    {% endif %}
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Current price</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                    <tr>
                        <th scope="row">{{ share["symbol"] }}</th>
                        <td>{{ share["symbol"] }}</td>
                        <td>{{ share["amount"] }}</td>
                        <td>{{ usd(share["price"]) }}</td>
                        <td>{{ usd(share["amount"] * share["price"]) }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>CASH</td>
                    <td  colspan="3"></td>
                    <td>{{ usd(user["cash"]) }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                  <td scope="row" colspan="4"></td>
                  <!--Calculate total money-->
                  <th>{{ usd(total + user["cash"]) }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
